.container{
    width: 600px;
    display: grid;
    grid-template-columns: repeat(5, 100px);
    grid-template-rows: repeat(5, 100px);
    grid-column-gap: 10px;
    grid-row-gap: 10px;
    /* border: 10px solid #000000; */

    align-items: center;
    justify-content: center;
}

.lightBulb {
    border: 5px solid #ff0000;
    background-color: #1100ff;
    width: 95px;
    height: 95px;
    border-radius: 100px; 
}

.lightOn{
    background-color: yellow;
}
